.loginsignup-main {
  background: url("../../assets/images/background.jpg") no-repeat center center
    fixed;
  background-size: 100% 100%;
  /* background-size: cover; */
  min-height: 100vh;
  background-color: rgb(208, 227, 255);
  background-blend-mode: multiply;
}

.loginsignup-box {
  background-color: white;
}

.loginsignup-tab-change {
  background-color: #f5f5f5;
  font-size: x-large;
}

.loginsignup-active-tab {
  font-weight: bolder;
  color: #4e62f8;
  background-color: white;
}

.loginsignup-route-row {
  margin-left: 0;
  margin-right: 0;
}

.loginsignup-button {
  margin-top: 5%;
  margin-bottom: 2%;
}

.loginsignup-company-name {
  font-size: xxx-large;
  color: #0025eb;
  margin-bottom: 3%;
  padding-top: 3%;
  font-weight: bold;
}

.form-group {
  margin-top: 2%;
}

.password-validation-box > div > p {
  margin-bottom: 0;
}

.password-validation-box > div > div > img {
  height: 15px;
}

.password-validation-box > div {
  display: flex;
}

.password-validation-box > div > div {
  margin-right: 0.5rem;
}

.password-validation-box {
  background-color: #4b5ef4;
  color: white;
  margin-top: 0.5rem;
  padding: 1rem;
}
